%h1 Page info

%p= @page.url

%table
  %tr
    %th Title
    %td= @page.title
  %tr
    %th Domain name
    %td= @page.host.name
  %tr
    %th Home
    %td= @page.site.home.present? ? link_to(@page.site.home.href, @page.site.home.href) : "No home page found"
  %tr
    %th Enterprise type
    %td= @page.host.enterprise_type
    
%h2 Links

%table
  %tr
    %th Title
    %th URL
  - @page.external_links.each do |l|
    %tr
      %td= l.text
      %td= link_to l.href, l.href

  
